<nav class="bg-dark navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/nasaPod">NASA POD</a>
                <a class="nav-link" href="/nasaPod">Asteroids</a> 
                <a class="nav-link" href="/nasaPod">Comets</a>  

            </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Planets
            </button>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="/planet?planetName=Mercury">Mercury</a></li>
              <li><a class="nav-link" href="/planet?planetName=Venus">Venus</a></li>
              <li><a class="nav-link" href="/planet?planetName=Earth">Earth</a></li>
              <li><a class="nav-link" href="/planet?planetName=Mars">Mars</a></li>
              <li><a class="nav-link" href="/planet?planetName=Jupiter">Jupiter</a></li>
              <li><a class="nav-link" href="/planet?planetName=Saturn">Saturn</a></li>
              <li><a class="nav-link" href="/planet?planetName=Uranus">Uranus</a></li>
              <li><a class="nav-link" href="/planet?planetName=Neptune">Neptune</a></li>
              
            </ul>
          </div>
        </div>
    </div>
</nav>