<nav class="bg-dark navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="/planet?planetName=Mercury">Mercury</a>
                <a class="nav-link" href="/planet?planetName=Venus">Venus</a>
                <a class="nav-link" href="/planet?planetName=Earth">Earth</a>
            </div>
        </div>
    </div>
</nav>